/* Mobile Screen size 375px x 667px */
body {
    font-family: 'Chivo', sans-serif;
    background-color: #121725;
    margin: 0px;
    overflow-y: hidden;
    font-style: 400;
}

h1{
    color: #FFF;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
}

span{
    color: #54E6AF;
}

p{
    color: #C2CBE5;
}

input{
    border-radius: 28px;
    border: hidden;
}

input#email{
    background-color: #2C344B;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

input::placeholder {
    padding-top: 9px;
    padding-left: 33px;
    opacity: 0.7;
}

#button{
    background-color: #54E6AF;
    color: #121725;
}

img#spotify, img#apple, img#google, img#pocket{
    opacity: 0.5;
    background-blend-mode: normal;
}

#error{
    display: none;
}

@media only screen and (max-width: 375px) {

    /* Header */

    body {
        width: 375px;
        height: 667px;
    }

    .header-logo img {
        position: absolute;
        width: 135.85px;
        height: 56px;
        top: 62px;
        left: 120px;
    }

    /* Background-img */

    .background-img {
        width: 375px;
        height: 667px;
        background-image: url(../assets/mobile/image-host.jpg);
        opacity: 0.08;
    }

    /* Section  */

    .section {
        width: 375px;
        height: 667px;
    }

    /* Information section */

    .information {
        position: absolute;
        width: 327px;
        height: 398px;
        top: 175px;
        text-align: center;
        left: 24px;
        display: flex;
        flex-direction: column;
    }

    .text {
        order: 1;
    }

    h1 {
        font-size: 1.63rem;
        width: 327px;
        height: 76px;
    }

    span {
        display: inline-block;
    }

    p {
        font-size: 0.94rem;
        line-height: 1.56;
        margin: 16px 0;
    }

    /* Inputs */

    .inputs {
        order: 3;
        margin-top: 48px;
        width: 327px;
    }

    input {
        display: block;
        width: 100%;
        height: 46px;
        
    }

    input#email {
        font-size: 0.88rem;
        width: 100%;
        margin-bottom: 16px;
        
    }

    #button {
        box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);  
        font-size: 0.88rem;
    }


    /* Post-logos */

    .post-logos {
        order: 2;
        margin-top: 33px;
    }

    img#spotify {
        width: 56px;
        height: 17px;
        margin-right: 23px;
    }

    img#apple {
        width: 45px;
        height: 17px;
        margin-right: 25px;
    }

    img#google {
        width: 73px;
        height: 11px;
        margin-right: 16px;
    }

    img#pocket {
        width: 77px;
        height: 15px;
    }

    .pattern-dots {
        display: none;
    }
}

/* Tablet Screen size */

@media only screen and (min-width: 376px) and (max-width: 768px) {

    body {
        width: 768px;
        height: 100vh;
    }

    /* Header Logo */

    .header-logo img {
        position: absolute;
        top: 50px;
        left: 39px;
        width: 134.85px;
        height: 56px;
    }

    /* Background-img */

    .background-img {
        width: 491px;
        height: 767px;
        background-image: url(../assets/tablet/image-host.jpg);
        position: absolute;
        left: 277px;
        top: 0;
    }

    /* Information Section */

    .information {
        width: 625px;
        height: 509px;
        position: absolute;
        top: 258px;
        left: 39px;
        background-color: #121725;
    }

    /* Text */

    .text {
        margin-top: 93px;
    }

    h1 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    p {
        margin: 32px 0 0 0;
        font-size: 1.125rem;
        line-height: 1.75rem;
        width: 445px;
        height: 84px;
        mix-blend-mode: normal;
    }

    /* Inputs */

    .inputs {
        margin-top: 40px;
        width: 427px;
        height: 56px;
        position: relative;

    }

    input#email {
        width: 100%;
        height: 56px;
    }

    #button {
        position: absolute;
        top: 5px;
        left: 260px;
        width: 162px;
        height: 46px;
        font-size: 0.875rem;
        line-height: 1.75rem;
    }


    /* Post-Logos */

    .post-logos {
        margin-top: 64px;
        height: 29px;
        width: 545px;
    }

    img#apple {
        margin: 0 41px 0 36px;
    }

    img#google {
        margin-right: 24px;
    }

    /* Dots */

    .pattern-dots {
        position: absolute;
        top: 920px;
        left: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1440px) {

    body {
        width: 1440px;
        height: 900px;
        overflow-y: visible;
    }

    /* header */

    .header-logo {
        position: absolute;
        top: 102px;
        left: 165px;
    }

    .background-img {
        background-image: url(../assets/desktop/image-host.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 888px;
        height: 640px;
        position: absolute;
        top: 130px;
        left: 552px;
        bottom: 130px;
        right: 14px;
        color: hsl(157, 74%, 62%);
        mix-blend-mode: lighten;
    }

    /* Information */

    .information {
        width: 723px;
        height: 509px;
        position: absolute;
        left: 165px;
        top: 261px;
        background-color: #121725;
    }

    .text {
        margin-top: 88px;
    }

    h1 {
        font-size: 3.25rem;
        line-height: 3.875rem;
    }

    p {
        margin: 24px 0 0 0;
        font-size: 1.125rem;
        line-height: 1.75rem;
        width: 445px;
        height: 84px;
    }

    /* Inputs */

    .inputs {
        margin: 40px 0 0 0;
        width: 427px;
        height: 56px;
        position: relative;
    }

    input#email {
        width: 100%;
        height: 56px;
    }

    

    #button{
            position: absolute;
            top: 5px;
            left: 260px;
            width: 162px;
            height: 46px;
            font-size: 0.875rem;
            line-height: 1.75rem;
    }

    input[value='Request access']{
        padding-left: 20px;

    }

     /* Post-Logos */

     .post-logos {
        margin-top: 64px;
        height: 29px;
        width: 545px;
    }

    img#apple {
        margin: 0 41px 0 36px;
    }

    img#google {
        margin-right: 24px;
    }

    .pattern-dots {
        position: absolute;
        left: 1208px;
        top: 718px;
    }

    #error{
        position: absolute;
        left: 32px;
        display: none;
        color: #FB3E3E;
        font-size: 0.75rem;
        margin-top: 3px;
    }
}